*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
img{
	margin-top: 58%;
	max-width: 50%;
	max-height: 100%;
}
#titulo{
	font-size: 350%;
	margin-bottom: 30%;
	text-align: center;
	z-index: 3;
	color: white;
}
#fondo_lyft{
	background-image: url("../css/img/taxi.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
#container_row{
	background-color: black;
	opacity: 0.6;
}
#btn_login_in{
	float: right;
	width: 100%;
}
#btn_sign_up{
	float: left;
	width: 100%;
	z-index: 3;
	background-color: #2ecc71;
	border: 1px solid #2ecc71;;
}
#btn_sign_up: hover{
	background-color: #cccccc;
	opacity: 0.3;
}
#row_botones{
    margin-top: 14%;
    margin-bottom: 6%;
}
.aBtn{
	text-decoration-style: none;
	color: white;
}