*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
body{
	position: relative;
}
/*Estilos para el index.html */
.bg{
		height: 100vh;
		position: relative;
	}
#fondo_lyft{
	background-image: url("../img/lyft.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 100vh;
}
.contenedorLogoLyft{
	padding-top: 5%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.contenedorBigoteLyft{
  padding-bottom: 11%;
  justify-content: center;
  align-items: center;
  display: flex;
}
#logo_lyft{
	width: 22%;
}
#bigote_lyft{
	width: 30%;
}
#btn_login_in{
	float: right;
}
#botones{
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
}
@media(max-width: 1024px){
	.contenedorLogoLyft{
  	padding-top: 25%;
	}
	.contenedorBigoteLyft {
    padding-bottom: 6%;
  }
}
@media(max-width: 768px){
	.contenedorLogoLyft{
  	padding-top: 18%;
	}
	.contenedorBigoteLyft {
    padding-bottom: 6%;
  }
}
@media (min-width: 667px) and (max-width: 736px){
	.contenedorLogoLyft {
    padding-top: 6%;
  }
}
@media (max-width: 568px){
	.contenedorLogoLyft {
    padding-top: 7%;
  }
}
@media(max-width: 414px){
	.contenedorLogoLyft{
  	padding-top: 63%;
	}
	#bigote_lyft {
	  width: 38%;
	}
	#logo_lyft {
	  width: 32%;
	}
}
