*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
body{
	position: relative;
	width: 100vw;
	height: 100vh;
}
img{
	margin-top: 10%;
	max-width: 50%;
	max-height: 100%;
}
#fondo_lyft{
	background-image: url("../css/img/lyft.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}
#btn_login_in{
	float: right;
	width: 100%;
}
#btn_sign_up{
	float: left;
	width: 100%;
	z-index: 3;
	background-color: #2ecc71;
	border: 1px solid #2ecc71;;
}
#btn_sign_up: hover{
	background-color: #cccccc;
	opacity: 0.3;
}
#row_botones{
    margin-top: 55%;
    margin-bottom: 6%;
}
.aBtn{
	text-decoration-style: none;
	color: white;
}
.aBtn:hover{
	text-decoration: none;
	background-color: black;
	opacity: 0.5;
}
@media (min-width: 768px){}
	.form_container{
		padding: 1%;
	}
}