body{
    position: relative;
    height: 100vh;

}
#map{
    height:100vh;
    width: 100vw;
    position: absolute;
}
.usuario_icono{
	width: 44%;
	opacity: 0.8;
}
.usuario_icono_map{
	margin-top: 4%;
  margin-left: 4%;
  width: 9%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
}
.view{
  font-size:30px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 6%;
}
.num_user{
  font-size: 26px;
}
.cir_user{
  margin-top: 2%;
}
.datos{
  width: 100%;
  margin-bottom: 16%;
}
.pd{
  font-size: 36px !important;
  height: 94px !important;
  padding: 26px 71px !important;
}
.icon{
  font-size: 45px !important;
  padding-right: 22%;
}
#copiaNombre{
  display: block;
  padding-right:10px;
}
#copiaApellido{
  margin-top: -10px;
}
.direccion{
  position: absolute;
  bottom: 0px;
  width: 74%;
  left: 16%;
}
#direccion{
  background-color: #C61167;
  text-align: center;
  border-radius: 20px;
  color: white;
}
#destino{
  width: 100%;
  padding: 7px;
  margin-bottom: 3%;
  border-radius: 14px;
}
header, main, footer {
      padding-left: 300px;
}
.none {
  display: none;
}
.background{
  width: 100%;
}
@media only screen and (max-width : 375px) {
  header, main, footer {
    padding-left: 0;
  }
  img{
    width: 100%;
  }
  .usuario_icono{
    width: 55% !important;
    height: 100px;
    display: flex;
    border-radius: 100%;
    margin-right: auto;
    margin-left: auto !important;
  }
  .usuario_icono_map {
    height: 38px;
  }
  .side-nav-usuario{
    width: 240px !important;
  }
  .background_nav{
    padding-top: 13% !important;
  }
  .icon{
    margin: 0 38px 0 9px !important;
    font-size: 35px !important;
    color: #C61167 !important;
  }
  .direccion{
    width: 88% !important;
    left: 6% !important;
  }
  .datos{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  .view{
    font-size: 18px !important;
  }
  .pd{
    font-size: 19px !important;
    height: 46px !important;
    padding: 27px 14px !important;
  }
  #copiaNombre, #copiaApellido{
    display: flex;
    font-size: 18px;
  }
  #copiaNombre{
    margin: 0 0;
    display: block;
  }
  #copiaApellido{
    margin-top: -18px;
    display: block;
  }
}
