@media only screen and (max-width : 375px) {
  header, main, footer {
    padding-left: 0;
  }
  img{
    width: 100%;
  }
  .side-nav-usuario{
    width: 80%;
  }
  .background_nav{
    padding-top: 13% !important;
  }
  .icon{
    margin: 0 71px 0 0!important;
    font-size: 43px !important;
    color: #C61167 !important;
  }
  .direccion{
    width: 88% !important;
    left: 6% !important;
  }
  .datos{
    margin-top: 6%;
    float: left;
    padding-left: 13%;
  }
  .view{
    padding-bottom: 23% !important;
    font-size: 23px !important;
    margin-left: -23%;
    margin-bottom: -11%;
  }
  .pd{
    font-size: 35px !important;
    height: 90px !important;
    padding: 36px 21px !important;
  }
}

body{
    position: relative;
    height: 100vh;

}
#map{
    height:100vh;
    width: 100vw;
    position: absolute;
}
.usuario_icono{
	width: 44%;
	opacity: 0.8;
}
.usuario_icono_map{
	margin-top: 13%;
  margin-left: 10%;
  width: 9%;
  position: absolute;
}
.view{
  font-size:30px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 6%;
}
.num_user{
  font-size: 40px;
}
.cir_user{
  margin-top: 2%;
  margin-left: -26%;
  width: 29%;
}
.datos{
  margin-bottom: 16%;
}
.pd{
  font-size: 45px !important;
  height: 120px !important;
  padding: 40px 30px !important;
}
.icon{
  font-size: 55px !important;
}
#copiaNombre{
  padding-right:10px;
}
.direccion{
  position: absolute;
  bottom: 59px;
  width: 68%;
  left: 29%;

}
#direccion{
  background-color: #C61167;
  text-align: center;
  border-radius: 20px;
  color: white;
}
header, main, footer {
      padding-left: 300px;
}

