body{
    position: relative;
    height: 100vh;

}
#map{
    height:100vh;
    width: 100vw;
    position: absolute;
}
.usuario_icono{
	width: 44%;
	opacity: 0.8;
}
.usuario_icono_map{
	margin-top: 13%;
  margin-left: 10%;
  width: 9%;
  position: absolute;
}
.view{
  font-size:30px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 6%;
}
.num_user{
  font-size: 40px;
}
.cir_user{
  margin-top: 2%;
  margin-left: -26%;
  width: 29%;
}
.datos{
  width: 75%;
  margin-bottom: 16%;
}
.pd{
  font-size: 45px !important;
  height: 120px !important;
  padding: 40px 30px !important;
}
.icon{
  font-size: 55px !important;
}
#copiaNombre{
  padding-right:10px;
}
.direccion{
  position: absolute;
  bottom: 59px;
  width: 68%;
  left: 29%;

}
#direccion{
  background-color: #C61167;
  text-align: center;
  border-radius: 20px;
  color: white;
}
header, main, footer {
      padding-left: 300px;
}
.none {
  display: none;
}

@media only screen and (max-width : 375px) {
  header, main, footer {
    padding-left: 0;
  }
  img{
    width: 100%;
  }
  .usuario_icono{
    width: 55% !important;
    height: 88px;
    display: flex;
    margin-right: auto;
    margin-left: auto !important;
  }
  .side-nav-usuario{
    width: 240px !important;
  }
  .background_nav{
    padding-top: 13% !important;
  }
  .icon{
    margin: 0 38px 0 9px !important;
    font-size: 35px !important;
    color: #C61167 !important;
  }
  .direccion{
    width: 88% !important;
    left: 6% !important;
  }
  .datos{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  .view{
    font-size: 18px !important;
  }
  .pd{
    font-size: 19px !important;
    height: 46px !important;
    padding: 27px 14px !important;
  }
  #copiaNombre, #copiaApellido{
    display: flex;
    font-size: 18px;
  }
  #copiaNombre{
    margin: 0 22px;
  }
  #copiaApellido{
    margin-top: -18px;
  }
}
