@media only screen and (max-width: 450px){
	.row_stylejoin{
		padding-top: 10%;
	}
	.form_container{
		padding: 9%;
	    
	}
	#title{
		font-size: 131%;
	}
	#btn_left {
  	font-size: 171% !important;
	}
	#lab{
		font-size: 152% !important;
  	padding-top: 5%;
	}
}
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
header{
	padding-top: 3%;
	border-bottom: 1px solid #95a5a6;
}
#btn_left{
	font-size: 220%;
	color: white;
	vertical-align: middle;
}
#title{
	text-decoration: none;
}
#text_join, #parrafo{
	font-size: 110%;
	text-align: center;

}
.row_style, .row_stylejoin{
	margin-left: 0%;
	margin-right: 0%;
}
.contenedor{
	padding-left: 0%;
	padding-right: 0%;
}
#contenedor_input_select{
	padding-bottom: 93%;
	padding-top: 3%;
}
#input_select{
	width: 100%;
	padding-left: 0%;
	margin-top: 3%;
	margin-bottom: 3%;
}
#next, #nextJoin{
	width: 100%;
	background-color: #EE6E73;
	text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 250%;
  cursor: pointer;
  position: absolute;
  bottom:0;
}
#aBtn, #aBtn_formulario, #aBtn_nextJoin {
	text-decoration: none;
	color: white;
}
#aBtn:hover{
	text-decoration: none;
}
#next:hover{
	background-color: black;
	opacity: 0.5;
}
#input_celular, #btn_pais{
	height: 42px;
}
#btn_pais{
	background-color: #A9A9A9;
	padding-left: 12%;
}
#mensaje{
	text-align: center;
}
#btn_resentCode{
	margin-top: 5%;
}
#lab{
	text-align: center;
	font-size: 244%;
}
.row_stylejoin{
	padding-top: 5%;
}
.form_container{
	text-align: center;
}
#checkbox{
	text-align: center;
}

