*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
.bg{
	background-color: #cccccc;

}
#btn_left{
	font-size: 245%;
	color: black;
}
#edit{
	float: right;
}
#usuarioLogo{
	width: 10%;
}
#nombre{
	padding-left: 43%;
	font-size: 250%;
}
#apellido{
	font-size: 250%;
}
.mt{
	padding: 5%;
  font-size: 250%;
  border-bottom: 1px solid black;
}
.iconos{
	float: left;
	padding-left: 6%;
}